.btn {
    all: unset !important;
    border-bottom: 2px solid #006FFF !important;
    color: #7A7A99 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 1.6 !important;
    height: 44px !important;
    width: 100% !important;
}