.topbar {
  display: flex;
  width: 100%;
  height: 64px;
  background-color: transparent;
  align-items: center;
  justify-content: space-around;
  padding: 0 16px;
  box-sizing: border-box;
  gap: 12px;
}

.logo {
  height: 50%;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.5));
}

.nav {
  display: flex;
  gap: 56px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .topbar {
    justify-content: space-between;
  }
  .nav {
    gap: 16px;
  }

  .logo {
    height: 40%;
  }
}

@media (max-width: 480px) {
  .topbar {
    flex-direction: column;
    height: auto;
    padding: 8px;
    gap: 8px;
  }
  .nav {
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
  }
  .logo {
    height: 25%;
  }
}
@media (max-width: 350px) {
  .logo {
    height: 15%;
  }
  .topbar {
    padding: 4px;
    gap: 4px;
  }
  .nav {
    gap: 8px;
  }
}
