 .chatContainer {
     display: flex;
     height: CALC(100dvh - 112px);
     width: 100%;
     border: 1px solid #ddd;
     border-radius: 8px;
     overflow: hidden;
     font-family: Arial, sans-serif;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

 .chatHeader {
     padding: 18px;
     border-bottom: 1px solid #ddd;
     display: flex;
     align-items: center;
     gap: 8px;
     width: 100%;
     box-sizing: border-box;
 }

 .chatHeader p {
     margin: 0;
     font-size: 12px;
     color: #666;
 }

 .messages {
     flex: 1;
     padding: 16px 16px 40px 16px;
     overflow-y: auto;
     overflow-x: hidden;
     background: transparent;
     display: flex;
     flex-direction: column;
     box-sizing: border-box;
     gap: 12px;
     max-height: 100%;
     width: 100%;
 }

 .messages::-webkit-scrollbar {
     width: 4px;
 }

 .messages::-webkit-scrollbar-thumb {
     background: #E4E4F2;
     border-radius: 4px;
     cursor: pointer;
 }

 .messages::-webkit-scrollbar-track {
     background: transparent;
 }

 .message {
     max-width: 70%;
     margin-bottom: 12px;
     padding: 8px 12px;
     border-radius: 8px;
     display: inline-flex;
     align-items: center;
     gap: 6px;
     position: relative;
     word-break: break-word;
 }

 .message small {
     font-size: 10px;
     position: absolute;
     bottom: -14px;
     right: 6px;
     color: #666;
 }

 .messageuser {
     margin-left: auto;
 }

 .messagebot {
     margin-right: auto;
 }

 .inputArea {
     height: auto;
     width: 100%;
     display: flex;
     padding: 12px 10%;
     background: #FEFEFF;
     flex-shrink: 0;
     box-sizing: border-box;
     position: relative;
 }

.inputArea::after {
    content: "";
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    height: 35px;
    background: linear-gradient(to top, #FEFEFF, rgba(254, 254, 255, 0));
}

 textarea::-webkit-scrollbar {
     width: 4px;
     cursor: pointer;
 }

 textarea::-webkit-scrollbar-thumb {
     background: #E4E4F2;
     border-radius: 4px;
 }

 textarea::-webkit-scrollbar-track {
     background: transparent;
 }

 .inputArea button {
     margin-left: 8px;
     border: none;
     background: #370199;
     color: #fff;
     border-radius: 6px;
     width: 40px;
     height: 40px;
     border-radius: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
 }

 .inputArea button:disabled {
     background: #aaa;
     cursor: not-allowed;
 }

 .emptyChat {
     flex: 1;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     color: #666;
 }

 .spin {
     animation: spin 1s linear infinite;
 }

 @keyframes spin {
     from {
         transform: rotate(0);
     }

     to {
         transform: rotate(360deg);
     }
 }